html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(16, 97, 100);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 600px;
    height:100vh;
    align-items: center;
    justify-content: center;
    

    .button {
        border: none;
        width: 120px;
        height: 40px;
        font-size: 18px;
        background-color: transparent;
        border: white solid 1px;
        color: white; 
        opacity: 0;
        animation: reveal 1s ease-in-out 3s forwards;

        
        
    }

    .text {
        text-align: center;
        animation: slide 3s ease-in-out;
    }

    .title {
        animation: slide-in 3s ease-in-out;
    }

    @keyframes slide {
        from {
            transform: translateX(-2000px);
        }

        to {
            transform: translateX(0px);
        }
        
    }

    @keyframes slide-in {
        from {
            transform: translateY(-1200px);
        }

        to {
            transform: translateY(0);
        }
        
    }

    @keyframes reveal {
        from {
            opacity: 0; 
            display: none;
        }

        to {
            opacity: 1;
            display: block;
        }
    }
}