html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-size: 20px;
}

.container {
    width: 2000px;
    height: 1400px;
    display: flex; 
    gap: 20px;
    margin: 50px; 
    /* border: 10px solid black; */

}

/* .container > * {
    border: solid 3px magenta;
} */

.container div {
    gap: 20px;
}

.section1 {
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content:center;

}

/* .section1 > * { 
    border: solid 3px green;
} */

.section2 {
    display: flex;
    flex: 1;
    flex-basis: 0;
}

.section3 {
    display: flex;
    flex-direction: column;
    flex: 1;

}

.vertical {
    background-color: #9fd3c7;
    flex: 1;

}

.tiles {
    background-color: #f8da5b;
    flex:1;
    color: black;
}

.middle-tile {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #00bbf0;
    align-items: flex-start;
}

.image {
    display: flex;
    flex-direction: column;
    width: 640px;
    height: 480px;
    background-color: #d3d6db;
    text-align: center;
    justify-content: center;
}

.size {
    color: #9ba6a5;
    font-size:30px ;
}

.wide-tile {
    flex:1;
    background-color: #be3144;
    
}

.tall-tile {
    flex: 1;
    background-color: #118a7e;
    flex-basis: 0;
}

.box {
    padding: 20px;
}

img {
    size: 640;
}


